* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Mulish", sans-serif;
}

.main,
.calculator-explained {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1450px;
  width: 100%;
}

.header {
  margin-top: 0px;
  font-family: "Mulish", sans-serif;
}
.header .img-wrapper {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgba(1, 0, 0, 0.8) 80%), url(happyhouse.jpg);
  background-position: 70%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}
.header .img-wrapper .header-text {
  position: absolute;
  left: 10%;
  top: 20%;
}
.header .img-wrapper .header-text h1 {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 4em;
  margin-bottom: 5px;
}
@media (max-width: 999px) {
  .header .img-wrapper .header-text h1 {
    font-size: 3em;
  }
}
@media (max-width: 768px) {
  .header .img-wrapper .header-text h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 649px) {
  .header .img-wrapper .header-text h1 {
    font-size: 2em;
  }
}
.header .img-wrapper .header-text p {
  margin-top: 0px;
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 10px;
  font-size: 1.5rem;
}
@media (max-width: 999px) {
  .header .img-wrapper .header-text p {
    font-size: 1.3em;
  }
}
@media (max-width: 768px) {
  .header .img-wrapper .header-text p {
    font-size: 1.2em;
  }
}
@media (max-width: 649px) {
  .header .img-wrapper .header-text p {
    font-size: 1em;
    margin-left: 5px;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 80px;
       column-gap: 80px;
  font-size: 1.2rem;
  padding: 20px;
}
@media (max-width: 999px) {
  .main {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.main h2 {
  text-align: center;
}
.main .calculator-input {
  padding: 20px;
}
.main .calculator-input .input-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 649px) {
  .main .calculator-input .input-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}
.main .calculator-input .input-wrapper label {
  text-align: left;
}
@media (max-width: 649px) {
  .main .calculator-input .input-wrapper label {
    text-align: center;
  }
}
.main .calculator-input .input-wrapper .input-info {
  display: flex;
  align-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main .calculator-input .input-wrapper input {
  background-color: rgb(235, 225, 225);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  width: 150px;
  font-size: 1.1rem;
  text-align: center;
}
@media (max-width: 649px) {
  .main .calculator-input .input-wrapper input {
    width: 50%;
  }
}
.main .calculator-input .input-wrapper .info-wrapper {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
}
.main .calculator-input .input-wrapper .info-wrapper .info-text {
  background-color: #02c4c4;
  color: white;
  padding: 8px 10px;
  font-size: 0.85rem;
  border-radius: 10px;
  visibility: hidden;
  display: inline-block;
  position: absolute;
  left: 40px;
  width: 200px;
}
@media (max-width: 649px) {
  .main .calculator-input .input-wrapper .info-wrapper .info-text {
    right: 40px;
    left: unset;
  }
}
.main .calculator-input .input-wrapper .info-wrapper svg {
  width: 25px;
  height: 25px;
  fill: #02c4c4;
}
.main .calculator-input .input-wrapper .info-wrapper svg:hover {
  fill: blue;
}
.main .calculator-input .input-wrapper .info-wrapper:hover {
  cursor: pointer;
}
.main .calculator-input .input-wrapper .info-wrapper:hover .info-text {
  visibility: visible;
  z-index: 1;
}
.main .calculator-input .button-wrap {
  display: flex;
  justify-content: center;
}
.main .calculator-input .button-wrap .calculate-click {
  margin-top: 50px;
  background-color: #02c4c4;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
}
.main .calculator-input .button-wrap .calculate-click:hover {
  color: white;
  background-color: blue;
}
.main .calculator-input .button-wrap .calculate-click:active {
  opacity: 0.8;
}
.main .calculator-output {
  padding: 20px;
}

.footer {
  font-family: "Mulish", sans-serif;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgba(236, 241, 241, 0.3960784314);
  font-family: "Mulish", sans-serif;
}
@media (max-width: 999px) {
  .footer {
    width: 100%;
  }
}
.footer .calculator-explained {
  margin-top: 0px;
  padding: 20px;
  margin-bottom: 100px;
}
.footer .calculator-explained h2 {
  font-size: 1.75rem;
}
.footer .calculator-explained .explain,
.footer .calculator-explained .explain.explain-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .footer .calculator-explained .explain,
  .footer .calculator-explained .explain.explain-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}
.footer .calculator-explained .explain h3,
.footer .calculator-explained .explain .LTI,
.footer .calculator-explained .explain.explain-2 h3,
.footer .calculator-explained .explain.explain-2 .LTI {
  font-size: 1.3rem;
}
.footer .calculator-explained .explain .loan-cat,
.footer .calculator-explained .explain .loan-cat.loan-cat-2,
.footer .calculator-explained .explain.explain-2 .loan-cat,
.footer .calculator-explained .explain.explain-2 .loan-cat.loan-cat-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: end;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .footer .calculator-explained .explain .loan-cat,
  .footer .calculator-explained .explain .loan-cat.loan-cat-2,
  .footer .calculator-explained .explain.explain-2 .loan-cat,
  .footer .calculator-explained .explain.explain-2 .loan-cat.loan-cat-2 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
    width: 100%;
  }
}
.footer .calculator-explained .explain .loan-cat img,
.footer .calculator-explained .explain .loan-cat.loan-cat-2 img,
.footer .calculator-explained .explain.explain-2 .loan-cat img,
.footer .calculator-explained .explain.explain-2 .loan-cat.loan-cat-2 img {
  margin-top: 30px;
  width: 100%;
}
.footer .calculator-explained .explain .loan-cat cite,
.footer .calculator-explained .explain .loan-cat.loan-cat-2 cite,
.footer .calculator-explained .explain.explain-2 .loan-cat cite,
.footer .calculator-explained .explain.explain-2 .loan-cat.loan-cat-2 cite {
  font-size: 0.7em;
}
.footer .calculator-explained .explain .explain-text,
.footer .calculator-explained .explain .explain-text.explain-text-2,
.footer .calculator-explained .explain.explain-2 .explain-text,
.footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 {
  grid-row: 2/3;
}
.footer .calculator-explained .explain .explain-text p,
.footer .calculator-explained .explain .explain-text.explain-text-2 p,
.footer .calculator-explained .explain.explain-2 .explain-text p,
.footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 p {
  font-size: 1.1rem;
}
.footer .calculator-explained .explain .explain-text .more-info,
.footer .calculator-explained .explain .explain-text.explain-text-2 .more-info,
.footer .calculator-explained .explain.explain-2 .explain-text .more-info,
.footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 .more-info {
  display: block;
  margin-top: 10px;
}
.footer .calculator-explained .explain .explain-text .more-info .links,
.footer .calculator-explained .explain .explain-text.explain-text-2 .more-info .links,
.footer .calculator-explained .explain.explain-2 .explain-text .more-info .links,
.footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 .more-info .links {
  text-decoration: none;
  color: #02c4c4;
}
.footer .calculator-explained .explain .explain-text .more-info .links:hover,
.footer .calculator-explained .explain .explain-text.explain-text-2 .more-info .links:hover,
.footer .calculator-explained .explain.explain-2 .explain-text .more-info .links:hover,
.footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 .more-info .links:hover {
  color: blue;
}
.footer .calculator-explained .explain .explain-text .more-info .links:active,
.footer .calculator-explained .explain .explain-text.explain-text-2 .more-info .links:active,
.footer .calculator-explained .explain.explain-2 .explain-text .more-info .links:active,
.footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 .more-info .links:active {
  opacity: 0.8;
}
.footer .calculator-explained .explain .explain-text.explain-text-2,
.footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 {
  grid-column: 2/3;
}
@media (max-width: 768px) {
  .footer .calculator-explained .explain .explain-text.explain-text-2,
  .footer .calculator-explained .explain.explain-2 .explain-text.explain-text-2 {
    grid-column: 1/2;
  }
}
.footer .calculator-explained .explain .loan-cat.loan-cat-2,
.footer .calculator-explained .explain.explain-2 .loan-cat.loan-cat-2 {
  grid-column: 1/2;
  justify-self: start;
}/*# sourceMappingURL=style.css.map */