$width-xl: 999px;
$width-md: 768px;
$width-sm: 649px;


@mixin xl {
    @media (max-width: $width-xl) {
        @content;
    }
}

@mixin md {
    @media (max-width: $width-md) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $width-sm) {
        @content;
    }
}



* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}

.main,
.calculator-explained {

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1450px;
    width: 100%;



}


.button-wrap {

    display: flex;
    justify-content: center;


    .calculate-click {

        margin-top: 50px;
        background-color: #02c4c4;
        border: none;
        padding: 15px 20px;
        border-radius: 20px;
        font-family: 'Mulish', sans-serif;
        color: whitesmoke;
        font-size: 1.2rem;
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }

        &:hover {
            color: white;
            background-color: blue;
        }

        &:active {

            opacity: .8;
        }

    }


}






.header {

    margin-top: 0px;

    font-family: 'Mulish', sans-serif;

    .img-wrapper {

        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgba(1, 0, 0, 0.8) 80%), url(happyhouse.jpg);

        background-position: 70%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        position: relative;


        .header-text {

            position: absolute;
            left: 10%;
            top: 20%;

            h1 {
                color: white;
                text-shadow: 2px 2px black;
                font-size: 4em;
                margin-bottom: 5px;

                @include xl {

                    font-size: 3em;
                }

                @include md {

                    font-size: 2.5em;
                }


                @include sm {
                    font-size: 2em;
                }


            }



            p {
                margin-top: 0px;
                color: white;
                text-shadow: 2px 2px black;
                margin-left: 10px;
                font-size: 1.5rem;

                @include xl {

                    font-size: 1.3em;
                }

                @include md {

                    font-size: 1.2em;
                }


                @include sm {
                    font-size: 1em;
                    margin-left: 5px;
                }



            }



        }



    }

}

.main {


    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    font-size: 1.2rem;
    padding: 20px;
  


    @include xl {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }



    .calculator-input {

        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .input-wrapper {

            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            column-gap: 20px;

            @include sm {
                flex-direction: column;
                row-gap: 20px;
            }

            label {
                text-align: left;

                @include sm {
                    text-align: center;
                }
            }

            .input-info {
                display: flex;
                align-content: center;
                align-items: center;
                column-gap: 10px;


            }

            input {

                background-color: rgb(235, 225, 225);
                border: none;
                padding: 5px 10px;
                border-radius: 10px;
                width: 150px;
                font-size: 1.10rem;
                text-align: center;

                @include sm {
                    width: 50%;
                }
            }



            .info-wrapper {

                width: 25px;
                height: 25px;
                position: relative;
                display: inline-block;

                .info-text {


                    background-color: #02c4c4;
                    color: white;
                    padding: 8px 10px;
                    font-size: 0.85rem;
                    border-radius: 10px;
                    visibility: hidden;
                    display: inline-block;
                    position: absolute;
                    left: 40px;
                    width: 200px;

                    @include sm() {
                        right: 40px;
                        left: unset;
                    }




                }

                svg {
                    width: 25px;
                    height: 25px;
                    fill: #02c4c4;
                    position: relative;
                    top: -6px;

                    &:hover {
                        fill: blue;
                    }
                }



                &:hover {

                    cursor: pointer;

                    .info-text {

                        visibility: visible;
                        z-index: 1;

                    }

                }


            }



        }




    }

    .calculator-output {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

       
    }



}

.wrapper-explanation {

    font-family: 'Mulish', sans-serif;

    @include xl {

        width: 100%;
    }

    margin-top: 50px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #ecf1f165;
    font-family: 'Mulish',
    sans-serif;

    .calculator-explained {
        margin-top: 0px;
        padding: 20px;
        margin-bottom: 100px;

        h2 {
            font-size: 1.75rem;
        }

        .explain,
        .explain.explain-2 {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            column-gap: 50px;
            margin-top: 50px;

            @include md {

                grid-template-columns: 1fr;
                grid-template-rows: auto auto 1fr;
            }


            h3,
            .LTI {

                font-size: 1.3rem;
            }

            .loan-cat,
            .loan-cat.loan-cat-2 {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
                justify-self: end;

                width: 100%;



                @include md {

                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                    justify-self: start;
                    width: 100%;
                }



                height: 100%;


                img {
                    margin-top: 30px;
                    width: 100%;

                }

                cite {

                    font-size: 0.7em;

                }

            }

            .explain-text,
            .explain-text.explain-text-2 {
                grid-row: 2 / 3;

                p {
                    font-size: 1.1rem;
                }

                .more-info {
                    display: block;
                    margin-top: 10px;



                    .links {

                        text-decoration: none;

                        color: #02c4c4;

                        &:hover {
                            color: blue;
                        }

                        &:active {

                            opacity: .8;
                        }
                    }


                }

            }

            .explain-text.explain-text-2 {
                grid-column: 2 / 3;

                @include md {

                    grid-column: 1 / 2;

                }
            }

            .loan-cat.loan-cat-2 {

                grid-column: 1 / 2;
                justify-self: start;



            }


        }
    }

}